.dropdown {
  position: relative;
  display: inline-block;
}

.title {
  cursor: pointer;
  color: var(--colorMain);
  display: flex;
  align-items: baseline;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--colorBgHeader);
  box-shadow: 2px 2px calc(var(--m) * 1) rgb(0 0 0 / 10%);
  border-radius: calc(var(--m) * 1);
  padding: calc(var(--m) * 1) 0;
}

.dropdown:focus-within .menu {
  display: block;
}

.item {
  display: block;
  padding: calc(var(--m) * 1) calc(var(--m) * 1.5);
  color: var(--colorMain);
  cursor: pointer;
}
