/* landing */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - calc(var(--m) * 15));
  background: var(--bgMain) 100% 50% no-repeat;
  background-size: 63%;
  padding: 0 50% 15vh 0;
}

.title {
  margin-bottom: calc(var(--m) * 2);
  color: var(--colorMain);
}

.subtitle {
  font-size: 1.125rem;
  margin-bottom: calc(var(--m) * 3);
  color: var(--colorMain);
}

.actions {
  font-size: 1.125rem;
  display: flex;
  align-items: baseline;
}

.button {
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: calc(var(--m) * 2);
}

/* map */
.map {
  min-height: calc(100vh - calc(var(--m) * 28));
}

.mapTitle {
  margin-bottom: calc(var(--m) * 5);
  color: var(--colorMain);
}

.mapWidget {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

.mapContainer {
  height: 532px;
  width: 952px;
}
