.container {
  display: flex;
}

.title {
  font-size: 2rem;
  margin-top: calc(var(--m) * 2);
  margin-bottom: calc(var(--m) * 1);
  color: var(--colorMain);
}

.catalogBooking {
  height: 100%;
  position: relative;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #858585;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.imgEmpty {
  width: 116px;
  height: 116px;
  background-image: url('../../../public/img/empty.svg');
  background-repeat: no-repeat;
  background-position: center;
}
