@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: var(--colorMain);
  font-family: 'Lab Grotesque', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding: var(--headerHeight);
}

body {
  height: 100%;
}

a {
  color: var(--colorLink);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

b {
  font-weight: 700;
}

hr {
  display: block;
  height: 0;
  border: none;
  border-top: 1px solid var(--colorBorder);
  margin: calc(var(--m) * 0.5) calc(var(--m) * 1);
  padding: 0;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-family: 'Lab Grotesque', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--colorTextSecondary);
}

/* link */
.link {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--colorLink);
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

/* catalog */
.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 290px));
  grid-gap: calc(var(--m) * 3);
}

/* icons */
.iconPeople {
  padding-left: calc(var(--m) * 3.5);
  background: url('../img/people.svg') 0 50% no-repeat;
}

.iconMap {
  padding-left: calc(var(--m) * 3.5);
  background: url('../img/map.svg') 0 50% no-repeat;
}

/* settings */
.settings {
  --labelWidth: calc(var(--m) * 22);
  --inputWidth: calc(var(--m) * 55);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(var(--m) * 3);
}

.settingsRow {
  display: flex;
  align-items: baseline;
  padding: calc(var(--m) * 3) 0;
}

.settingsRow + .settingsRow {
  border-top: 1px solid var(--colorBorder);
}

.settingsLabel {
  width: var(--labelWidth);
  color: var(--colorTextSecondary);
}

.settingsLink {
  margin: 0 calc(var(--m) * 3);
  color: var(--colorTextSecondary);
}

.settingsLinkCancel {
  display: none;
}

.settingsRowContent {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: calc(var(--labelWidth) + var(--inputWidth));
}

.settingsRowContentEdit {
  display: none;
}

.settingsRowContentEdit:target {
  display: flex;
}

.settingsRowContentEdit:target + .settingsRowContent {
  display: none;
}

.settingsRowContentEdit:target ~ .settingsLink {
  display: none;
}

.settingsRowContentEdit:target ~ .settingsLinkCancel {
  display: block;
}

.settingsFormRow {
  flex-shrink: 0;
  margin-bottom: calc(var(--m) * 1);
  width: var(--inputWidth);
}

.settingsFormRow + .settingsFormRow {
  margin-left: var(--labelWidth);
}

.settingsFormRowTip {
  font-size: 0.875rem;
  color: var(--colorTextSecondary);
}

/* input */
.input {
  width: 100%;
  padding: calc(var(--m) * 1) calc(var(--m) * 1.5);
  border: 1px solid var(--colorBorder);
}

.inputShort {
  width: calc(var(--m) * 14);
}
