.label {
  display: block;
  margin-bottom: calc(var(--m) * 1);
}

.hint {
  font-size: 1rem;
  color: var(--colorTextSecondary);
  margin-top: calc(var(--m) * 1);
}

.warning {
  font-size: 1rem;
  color: var(--colorTextWarning);
  margin-top: calc(var(--m) * 1);
}

.error {
  font-size: 1rem;
  color: var(--colorTextError);
  margin-top: calc(var(--m) * 1);
}
