.card {
  display: inline-block;
  width: 281px;
  height: min-content;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--colorBgCard);
}

.card:hover {
  position: relative;
  box-shadow: 0 4px 12px rgba(var(--colorBoxShadow), 0.16);
  margin-bottom: -56px;
}

.imgLink {
  margin-bottom: 9px;
  display: block;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--colorMain);
  margin-bottom: 3px;
}

.price {
  margin-bottom: 4px;
  color: var(--colorMain);
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 7px 14px;
}

.bottom {
  display: none;
  padding-top: 15px;
  height: 56px;
}

.card:hover .bottom {
  display: block;
}

.cardNohover:hover {
  margin-bottom: 0;
}
